form.form#formAdd(action="/cgi-bin/request/add.py", method="post")
    
    .form__line
        .form__element
            label(for="lastNameAdd") Фамилия:
        .form__element
            input#lastNameAdd(type="text", name="lastName")
        
    .form__line
        .form__element
            label(for="cityAdd") Город проживания:
        .form__element
            input#cityAdd(type="text", name="city")

    .form__line
        .form__element
            label(for="isDocHighScoreAdd") Наличие аттестата с отличием:
        .form__element
            input#isDocHighScoreAdd(type="checkbox", name="isDocHighScore")

    .form__line
        .form__element
            label(for="isHostelAdd") Необходимо общежитие:
        .form__element
            input#isHostelAdd(type="checkbox", name="isHostel")

    .form__line
        .form__element
            field.form
                .form__line
                    legend Оценки по вступительным экзаменам:
                .form__line
                    .form
                        .form__line
                            .form__element
                                label(for="scoreMathAdd") Математика:       
                            .form__element                      
                                select#scoreMathAdd(name="scoreMath")
                                    option 2
                                    option 3
                                    option 4
                                    option 5
                        .form__line
                            .form__element
                                label(for="scorePhysAdd") Физика:
                            .form__element
                                select#scorePhysAdd(name="scorePhys")
                                    option 2
                                    option 3
                                    option 4
                                    option 5
                        .form__line
                            .form__element
                                label(for="scoreInfoAdd") Информатика:
                            .form__element
                                select#scoreInfoAdd(name="scoreInfo")
                                    option 2
                                    option 3
                                    option 4
                                    option 5

    .form__line
        .form__element
            input.form__line(type="submit", value="Добавить")
    
    
    
