form.form#formList(action="/cgi-bin/request/list.py", method="get")
    
    .form__line
        .form__element
            label(for="isAllHighScoreList") Все экзамены сданы на отлично:
        .form__element
            input#isAllHighScoreList(type="checkbox", name="isAllHighScore")
    
    .form__line
        .form__element
            label(for="isDocHighScoreList") Имеется аттестат с отличием:
        .form__element
            input#isDocHighScoreList(type="checkbox", name="isDocHighScore")    
    
    .form__line
        .form__element
            label(for="isExternalList") Проживает вне города, в котором расположен университет:
        .form__element
            input#isExternalList(type="checkbox", name="isExternal")
    
    .form__line
        .form__element
            label(for="isHostelList") Нуждается в общежитии:
        .form__element
            input#isHostelList(type="checkbox", name="isHostel")
    
    .form__line
        .form__element
            input#submitList(type="submit", value="Найти")



.list#studentList
